*{
    margin: 0;
    padding: 0;
}

a{
    text-align: center;
    font-size: 75px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    width: 200px;
    height: 30px;
    background: green;
    color: white;
}